.comments .comments-bottom-button {margin: 10px 10px 0 0;}

.comments .comment {
	margin-top: 20px;
	border-top: 1px solid {{ COMMENT_BORDER_COLOR }};
	border-top-left-radius: 10px;
	background-color: {{ COMMENT_BACKGROUND_COLOR }};

	position: relative;
}

.comments .comment:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 15px;
	border-color: {{ COMMENT_BACKGROUND_COLOR }} transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: -15px;
	left: 32px;
}

.comments .comment:before
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 15px;
	border-color: {{ COMMENT_BORDER_COLOR }} transparent;
	display: block;
	width: 0;
	z-index: 0;
	top: -16px;
	left: 32px;
}

.comments .comment .gravatar {
	display: inline-block;
	*display: inline;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
	width: 80px;
	height: 80px;
	padding: 10px 0 0 10px;
	border-top-left-radius: 10px;
	background-color: {{ COMMENT_BACKGROUND_COLOR }};
}

.comments .comment .gravatar .avatar {height: 80px; width: 80px;}
.comments .comment .gravatar .agent {height: 20px; width: 20px; position: absolute; margin: -23px 0px 0px 60px; opacity: 0.8; display: none;}
.comments .comment:hover .gravatar .agent {display: block;}
.comments .name_and_date {font-size: 10px; padding: 4px 0 0 10px;  background-color: {{ COMMENT_BACKGROUND_COLOR }}; opacity: 0.6;}
.comments .notice {font-size: 10px; font-weight: 700; margin-left: 20px; color: orangered;}
.comments .deleted-notice {font-size: 10px; font-weight: 700; margin-left: 20px; color: darkslategray;}
.comments .comment pre {
	font-family: 'Ubuntu', 'Arial', sans-serif;
	font-size: 12px;
	margin: 4px 0 0 10px;
	max-width: 100%;
	min-height: 50px;
	max-height: 200px;
	white-space: pre-wrap;
}

.watched, .unfolded {color: white; background: rgb(56, 220, 65);}
.unwatched, .folded {opacity: 0.5;}
.unfold {margin-left: 10px; background: rgb(56, 220, 130);}
.fold {margin-left: 10px; opacity: 0.5; background: rgb(56, 220, 130);}

.comments .comment .comment_content {
	display: inline-block;
	*display: inline;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
	min-height: 80px;
	width: calc(100% - 90px);
}

.comments .comment.unapproved .comment_content pre {
	border: 3px dashed orangered;
	margin: 1px 0px -3px 7px;
}

.comments .comment .controls-box {
	min-height: 36px;
}

.comments .comment .controls-box .controls {
	display: none;
	float: right;
	white-space: nowrap;
}

.comments .comment .controls-box .controls .p-button {
	margin-left: 10px;
}

.comments .comment:hover .controls {display: block;}
.comments .comment .controls-box .controls.active_controls {display: block;}
.comments .new-comment-notice {display: none; margin-top: 20px;}

.comments .hidden {display: none;}

.comments .comment_form {width: 100%;}
.comments .comment_form input[type="submit"] {float: right;}
.comments .comment_form .comment-textarea {
	margin: 4px 0 0 10px;
	border: none;
	outline: none;
	display: inline-block;
	min-height: 50px;
	font-family: 'Ubuntu', 'Arial', sans-serif;
	font-size: 12px;
	width: calc(100% - 15px);
}

.comments .inline_editor .comment-textarea {
	margin: 2px 0 0 8px;
	border: none;
	outline: none;
	display: inline-block;
	min-height: 50px;
	font-family: 'Ubuntu', 'Arial', sans-serif;
	font-size: 12px;
	width: calc(100% - 15px);
}

.comments .inline_editor input[type="submit"] {float: right;}

.comments .unapproved .inline_editor .comment-textarea {
	border: 3px dashed orangered;
	margin: -1px -3px -3px 5px;
}

.comments-page-button:target {
	background-color: #42b8dd;
	cursor: default;
}

/* TODO move this colors to color settings */
.comments .classified {display: none;}
.comments .comment.deleted       {background-color: rgba(255, 0, 0, 0.3);}
.comments .comment.akismet_spam  {background-color: rgba(255, 0, 0, 0.3);}
.comments .comment.manual_spam   {background-color: rgba(255, 0, 0, 0.3);}
.comments .comment.deleted       .name_and_date {background-color: rgba(0, 0, 0, 0.0);}
.comments .comment.akismet_spam  .name_and_date {background-color: rgba(0, 0, 0, 0.0);}
.comments .comment.manual_spam   .name_and_date {background-color: rgba(0, 0, 0, 0.0);}
.comments .comment.deleted       .gravatar {background-color: rgba(0, 0, 0, 0.0); opacity: 0.2;}
.comments .comment.akismet_spam  .gravatar {background-color: rgba(0, 0, 0, 0.0); opacity: 0.2;}
.comments .comment.manual_spam   .gravatar {background-color: rgba(0, 0, 0, 0.0); opacity: 0.2;}
/* valid only for white background */
.comments .comment.deleted:after       {border-color: #ffb3b3 transparent;}
.comments .comment.akismet_spam:after  {border-color: #ffb3b3 transparent;}
.comments .comment.manual_spam:after   {border-color: #ffb3b3 transparent;}

.comment .moderate {display: none;}

.comments .comment.answer {border-top: 1px solid red;}
.comments .comment.answer::before {border-color: red transparent;}
.comments .comment.answer {border-top: 1px solid red;}
.comment .comment.answer.tree {margin-left: 4.1667%; width: 95.8333%; *width: 95.8023%;}

@media screen and (min-width: 35.5em) {
	.p-u-sm-16-24.comment .gravatar,
	.p-u-sm-15-24.comment .gravatar,
	.p-u-sm-14-24.comment .gravatar,
	.p-u-sm-13-24.comment .gravatar,
	.p-u-sm-12-24.comment .gravatar,
	.p-u-sm-11-24.comment .gravatar,
	.p-u-sm-10-24.comment .gravatar,
	.p-u-sm-9-24.comment .gravatar,
	.p-u-sm-8-24.comment .gravatar,
	.p-u-sm-7-24.comment .gravatar,
	.p-u-sm-6-24.comment .gravatar,
	.p-u-sm-5-24.comment .gravatar,
	.p-u-sm-4-24.comment .gravatar,
	.p-u-sm-3-24.comment .gravatar,
	.p-u-sm-2-24.comment .gravatar,
	.p-u-sm-1-24.comment .gravatar {display: none;}

	.comments .p-u-sm-16-24.comment .comment_content,
	.comments .p-u-sm-15-24.comment .comment_content,
	.comments .p-u-sm-14-24.comment .comment_content,
	.comments .p-u-sm-13-24.comment .comment_content,
	.comments .p-u-sm-12-24.comment .comment_content,
	.comments .p-u-sm-11-24.comment .comment_content,
	.comments .p-u-sm-10-24.comment .comment_content,
	.comments .p-u-sm-9-24.comment .comment_content,
	.comments .p-u-sm-8-24.comment .comment_content,
	.comments .p-u-sm-7-24.comment .comment_content,
	.comments .p-u-sm-6-24.comment .comment_content,
	.comments .p-u-sm-5-24.comment .comment_content,
	.comments .p-u-sm-4-24.comment .comment_content,
	.comments .p-u-sm-3-24.comment .comment_content,
	.comments .p-u-sm-2-24.comment .comment_content,
	.comments .p-u-sm-1-24.comment .comment_content {width: 100%;}
}

@media screen and (min-width: 48em) {
	.p-u-sm-13-24.comment .gravatar,
	.p-u-sm-12-24.comment .gravatar,
	.p-u-sm-11-24.comment .gravatar,
	.p-u-sm-10-24.comment .gravatar,
	.p-u-sm-9-24.comment .gravatar,
	.p-u-sm-8-24.comment .gravatar,
	.p-u-sm-7-24.comment .gravatar,
	.p-u-sm-6-24.comment .gravatar,
	.p-u-sm-5-24.comment .gravatar,
	.p-u-sm-4-24.comment .gravatar,
	.p-u-sm-3-24.comment .gravatar,
	.p-u-sm-2-24.comment .gravatar,
	.p-u-sm-1-24.comment .gravatar {display: none;}

	.comments .p-u-sm-13-24.comment .comment_content,
	.comments .p-u-sm-12-24.comment .comment_content,
	.comments .p-u-sm-11-24.comment .comment_content,
	.comments .p-u-sm-10-24.comment .comment_content,
	.comments .p-u-sm-9-24.comment .comment_content,
	.comments .p-u-sm-8-24.comment .comment_content,
	.comments .p-u-sm-7-24.comment .comment_content,
	.comments .p-u-sm-6-24.comment .comment_content,
	.comments .p-u-sm-5-24.comment .comment_content,
	.comments .p-u-sm-4-24.comment .comment_content,
	.comments .p-u-sm-3-24.comment .comment_content,
	.comments .p-u-sm-2-24.comment .comment_content,
	.comments .p-u-sm-1-24.comment .comment_content {width: 100%;}
}

@media screen and (min-width: 64em) {
	.p-u-sm-10-24.comment .gravatar,
	.p-u-sm-9-24.comment .gravatar,
	.p-u-sm-8-24.comment .gravatar,
	.p-u-sm-7-24.comment .gravatar,
	.p-u-sm-6-24.comment .gravatar,
	.p-u-sm-5-24.comment .gravatar,
	.p-u-sm-4-24.comment .gravatar,
	.p-u-sm-3-24.comment .gravatar,
	.p-u-sm-2-24.comment .gravatar,
	.p-u-sm-1-24.comment .gravatar {display: none;}

	.comments .p-u-sm-10-24.comment .comment_content,
	.comments .p-u-sm-9-24.comment .comment_content,
	.comments .p-u-sm-8-24.comment .comment_content,
	.comments .p-u-sm-7-24.comment .comment_content,
	.comments .p-u-sm-6-24.comment .comment_content,
	.comments .p-u-sm-5-24.comment .comment_content,
	.comments .p-u-sm-4-24.comment .comment_content,
	.comments .p-u-sm-3-24.comment .comment_content,
	.comments .p-u-sm-2-24.comment .comment_content,
	.comments .p-u-sm-1-24.comment .comment_content {width: 100%;}
}

@media screen and (min-width: 80em) {
	.p-u-sm-7-24.comment .gravatar,
	.p-u-sm-6-24.comment .gravatar,
	.p-u-sm-5-24.comment .gravatar,
	.p-u-sm-4-24.comment .gravatar,
	.p-u-sm-3-24.comment .gravatar,
	.p-u-sm-2-24.comment .gravatar,
	.p-u-sm-1-24.comment .gravatar {display: none;}

	.comments .p-u-sm-7-24.comment .comment_content,
	.comments .p-u-sm-6-24.comment .comment_content,
	.comments .p-u-sm-5-24.comment .comment_content,
	.comments .p-u-sm-4-24.comment .comment_content,
	.comments .p-u-sm-3-24.comment .comment_content,
	.comments .p-u-sm-2-24.comment .comment_content,
	.comments .p-u-sm-1-24.comment .comment_content {width: 100%;}
}

@media screen and (max-width: 35.5em) {
	.p-u-sm-18-24.comment .gravatar,
	.p-u-sm-17-24.comment .gravatar,
	.p-u-sm-16-24.comment .gravatar,
	.p-u-sm-15-24.comment .gravatar,
	.p-u-sm-14-24.comment .gravatar,
	.p-u-sm-13-24.comment .gravatar,
	.p-u-sm-12-24.comment .gravatar,
	.p-u-sm-11-24.comment .gravatar,
	.p-u-sm-10-24.comment .gravatar,
	.p-u-sm-9-24.comment .gravatar,
	.p-u-sm-8-24.comment .gravatar,
	.p-u-sm-7-24.comment .gravatar,
	.p-u-sm-6-24.comment .gravatar,
	.p-u-sm-5-24.comment .gravatar,
	.p-u-sm-4-24.comment .gravatar,
	.p-u-sm-3-24.comment .gravatar,
	.p-u-sm-2-24.comment .gravatar,
	.p-u-sm-1-24.comment .gravatar {display: none;}

	.comments .p-u-sm-18-24.comment .comment_content,
	.comments .p-u-sm-17-24.comment .comment_content,
	.comments .p-u-sm-16-24.comment .comment_content,
	.comments .p-u-sm-15-24.comment .comment_content,
	.comments .p-u-sm-14-24.comment .comment_content,
	.comments .p-u-sm-13-24.comment .comment_content,
	.comments .p-u-sm-12-24.comment .comment_content,
	.comments .p-u-sm-11-24.comment .comment_content,
	.comments .p-u-sm-10-24.comment .comment_content,
	.comments .p-u-sm-9-24.comment .comment_content,
	.comments .p-u-sm-8-24.comment .comment_content,
	.comments .p-u-sm-7-24.comment .comment_content,
	.comments .p-u-sm-6-24.comment .comment_content,
	.comments .p-u-sm-5-24.comment .comment_content,
	.comments .p-u-sm-4-24.comment .comment_content,
	.comments .p-u-sm-3-24.comment .comment_content,
	.comments .p-u-sm-2-24.comment .comment_content,
	.comments .p-u-sm-1-24.comment .comment_content {width: 100%;}
}
