@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu'), url(/static/GMuVYPs2qfSvo2zvGXIEVg.woff2) format('woff2'), url(/static/mZSs29ggGoaqrCNB3kDfZQ.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(/static/1oQ0YSnzWBxeyxAWblfEqg.woff2) format('woff2'), url(/static/trnbTfqisuuhRVI3i45C5w.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 400;
	src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(/static/MeLqutxYVP-KOAmxPalVng.woff2) format('woff2'), url(/static/GZMdC02DTXXx8AdUvU2etw.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 700;
	src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(/static/pqisLQoeO9YTDCNnlQ9bf1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(/static/pqisLQoeO9YTDCNnlQ9bfz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
