/* TODO don´t forget to undo this hack as image rendering became supported */
img[src$=".gif"], img[src$=".png"] {
	image-rendering: -moz-crisp-edges;         /* Firefox */
	image-rendering:   -o-crisp-edges;         /* Opera */
	image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	}

html {overflow-y: scroll;}
body {background-color: {{ BACKGROUND_COLOR }}; font-family: 'Ubuntu', 'Arial', sans-serif; overflow-x: hidden; text-rendering: geometricPrecision;}
hr {clear: both; opacity: 0;}
a {text-decoration: none;}

.menu-right-widget {float: right;}

.language-selector-option {display: inline-block; margin-right: 4px; opacity: 0.2;}
.language-selector-option input[type="submit"] {border: none; font-size:0; height: 32px;}
.language-selector-option.ru input[type="submit"] {background-image: url('/static/img/lang_ru.png'); width: 48px;}
.language-selector-option.en input[type="submit"] {background-image: url('/static/img/lang_en.png'); width: 60px;}
.language-selector-option.active {opacity: 0.8;}
.language-selector-option.active input[type="submit"] {cursor: initial;}

.content {color: {{ CONTENT_FONT_COLOR }}; {{ CONTENT_BACKGROUND_COLOR }}; padding: 0 20px 0 20px; box-sizing: border-box;}
.content span.green {color: green;}
.content span.red {color: red;}
.content-block a:link {color: {{ LINK_COLOR }};}
.content-block a:visited {color: {{ LINK_VISITED_COLOR }};}
.content-block a:hover {color: {{ LINK_COLOR }}; text-decoration: underline;}
.content-block a:active {color: {{ LINK_ACTIVE_COLOR }};}

.chat-messages {overflow-y: scroll; min-height: calc(100vh - 250px); max-height: calc(100vh - 250px);}
.chat-message {margin: 0; font-family: monospace; white-space: pre;}
.chat-user {padding: 2px; width: 100%; cursor: pointer; height: 42px; overflow: hidden;}
.chat-user span {display: table-cell; vertical-align: middle; height: 42px;}
.chat-user img {float: left; margin: 5px; border-radius: 15px;}
.chat-user:hover {padding: 1px; border: 1px solid {{ LINK_COLOR }}; background: {{ HIGHLIGHT_BACKGROUND_COLOR }};}


.gallery-thumbnail {display: inline-block; margin: 10px;}
.gallery-thumbnail .album-editor {display: none; margin: -40px 0 6px 3px;}

.right {float: right;}

.led {
	margin: 0 auto;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: grey;
}
.led.green { background-color: lime; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px; }
.led.yellow { background-color: yellow; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px; }
.led.red { background-color: red; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px; }

.p-label {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
}
.p-h-scroll {
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
}
.label-green {background-color: {{ LABEL_GREEN_COLOR }};}
.label-red {background-color: {{ LABEL_RED_COLOR }};}
.label-yellow {background-color: {{ LABEL_YELLOW_COLOR }};}
.label-blue {background-color: {{ LABEL_BLUE_COLOR }};}
.p-label .p-button {margin-top: -12px; margin-bottom: -10px; margin-left: 30px;}

.help-icon {
	border: 2px solid {{ LINK_COLOR }};
	background-color: {{ BACKGROUND_COLOR }};
	padding: 5px;
	height: 16px;
	width: 16px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border-radius: 16px;
	margin-top: -12px;
	margin-bottom: -10px;
	margin-left: 30px;
	cursor: help;
}
.inline-form {display: inline;}
.votebar {padding: 1px 0 1px 10px; margin: 5px 0 5px 0; height: 34px;}
.p-option {position: absolute;}

.footer-links {padding: 0 20px 0 20px; line-height: 30px;}
.footer-links .p-button {margin-right: 20px;}
.leaflet_map {height: 480px; width: '100%'}

@media screen and (min-width: 35.5em) {
	.p-option-sm-1 {max-width: calc(100% - 60px);}
}

@media screen and (min-width: 48em) {
	.p-option-md-1-2 {max-width: calc(50% - 60px);}
}

@media screen and (min-width: 64em) {
	.p-option-lg-1-3 {max-width: calc(33.3333% - 60px);}
}

@media screen and (min-width: 80em) {
	.p-option-xl-1-4 {max-width: calc(25% - 60px);}
	.topsecret {position: relative;}
}

@media screen and (max-width: 35.5em) {
	.p-option-sm-1 {max-width: calc(100% - 60px);}
	.menu-right-widget {
		float: none;
		text-align: right;
	}
	.language-selector-option {padding: 20px;}
	.menu-main-box {width: 100%;}
	.menu-right-widget-box {display: block;}
}

.topsecret {position: absolute; z-index: -100; top: 0; left: 0; width: 100%; text-align: center; font-weight: 700; animation: rainbow 1s linear 0s infinite;}
.token_list {display: none; position: absolute; top: 10px; left: calc(50% - width); font-size: 50%;}
.tokens:hover {cursor: pointer;}
.tokens:hover .token_list {display: inline}
@keyframes rainbow {
	from {color: rgb(255, 0, 0);}
	16.6% {color: rgb(255, 0, 255);}
	33.3% {color: rgb(0, 0, 255);}
	50% {color: rgb(0, 255, 255);}
	66.6% {color: rgb(0, 255, 0);}
	83.3% {color: rgb(255, 255, 0);}
	to {color: rgb(255, 0, 0);}
}

div .error404 {
	background-image: url("/static/img/http404_320.png");
	background-repeat: no-repeat;
	width: 320px;
	height: 318px;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 640px) and (min-height: 640px) {
	div .error404 {
		background-image: url("/static/img/http404_640.png");
		width: 640px;
		height: 635px;
	}
}

@media screen and (min-width: 320px) and (min-height: 320px) and (min-resolution: 2dppx) {
	div .error404 {
		background-image: url("/static/img/http404_640.png");
		width: 320px;
		height: 318px;
		background-size: 320px 318px;
	}
}

@media screen and (min-width: 1280px) and (min-height: 1280px) {
	div .error404 {
		background-image: url("/static/img/http404_1280.png");
		width: 1280px;
		height: 1271px;
	}
}

@media screen and (min-width: 640px) and (min-height: 640px) and (min-resolution: 2dppx) {
	div .error404 {
		background-image: url("/static/img/http404_1280.png");
		width: 640px;
		height: 635px;
		background-size: 640px 635px;
	}
}
