{% load i18n %}
{% load accounts_tags %}

{% if user.is_authenticated %}
	<div id="id_account_form" class="p-u-sm-1 logout_form">
		<div class="p-u-xl-3-4 p-u-lg-2-3 p-u-md-1-2"></div>
		<form class="p-u-xl-1-4 p-u-lg-1-3 p-u-md-1-2 p-u-sm-1 p-form" action="{{ URL_LOGOUT }}" method="POST">
			<fieldset>
				{% csrf_token %}
				<div class="p-controls">
					<label>{% trans 'You seem like' %} {{ USER_NAME }}</label>
				</div>
				<hr />
				<div class="p-controls">
					<input class="p-button button-secondary" type="submit" value="{% trans 'Log out' %}">&nbsp;
					<a class="p-button p-button-primary" href="{{ URL_ACCOUNTS }}">{% trans 'Manage account' %}</a>
				</div>
			</fieldset>
		</form>
	</div>
{% else %}
	<div id="id_account_form" class="p-u-sm-1 login_form">
		<div class="p-u-xl-3-4 p-u-lg-2-3 p-u-md-1-2"></div>
		<form class="p-u-xl-1-4 p-u-lg-1-3 p-u-md-1-2 p-u-sm-1 p-form p-form-stacked" method="POST" action="{{ URL_LOGIN }}">
			<fieldset>
				{% csrf_token %}
				<div class="p-control-group">
					<label for="id_username_top">{% trans 'username' %}</label>
					<input class="p-sm-2-3" id="id_username_top" name="username" type="text" required>
				</div>
				<div class="p-control-group">
					<label for="id_password_top">{% trans 'password' %}</label>
					<input class="p-sm-2-3" id="id_password_top" name="password" type="password" required>
				</div>
			</fieldset>
			<div class="p-controls p-h-scroll">
				<input class="p-button button-small p-button-primary" type="submit" value="{% trans 'Log in' %}">&nbsp;
				<a class="p-button button-small button-secondary" href="{{ URL_ACCOUNTS }}">{% trans 'Register' %}</a>&nbsp;
				<a class="p-button button-small button-secondary" href="{{ URL_ACCOUNTS_RESTORE }}">{% trans 'Restore' %}</a>&nbsp;
				<a class="p-button button-small button-secondary" href="{{ URL_ACCOUNTS }}?key_auth=1">
					<img title="{% trans 'Key authentication' %}" src="/static/img/accounts/key_auth.png">
				</a>
			</div>
		</form>
	</div>
{% endif %}
