{% extends "base.html" %}
{% load i18n %}
{% load global_tags %}
{% block title %}
	{% trans 'Account control panel' %}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='accounts' %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}
	<div class="content-block">
		{% if not user.is_authenticated and key_auth %}
			<h1>{% trans 'Key authentication' %}</h1>
			{% include "accounts/key_auth_form.html" %}
		{% elif not user.is_authenticated %}
			<h1>{% trans 'New account registration' %}</h1>
			{% include "accounts/registration_form.html" %}
		{% else %}
			<h1>{% trans 'Members area' %}</h1>
			{% include "accounts/manage_account_email.html" %}
			{% include "accounts/manage_account_data.html" %}
		{% endif %}
		<hr />
	</div>
{% endblock %}
