{% load i18n %}
{% if message %}<div class="p-label label-yellow">{{ message }}</div>{% endif %}
<form class="p-form" action="{{ url_key_authenticate }}" method="POST">
	<fieldset>
		{% csrf_token %}
		<input class="p-u-sm-1-3" type="password" name="key" placeholder="{% trans 'Key' %}" autofocus>&nbsp;
		<input class="p-button p-button-primary" type="submit" value="{% trans 'Authenticate' %}">
		<input type="hidden" name="redirect" value="{{ redirect }}">
	</fieldset>
</form>
