{% load i18n %}
{% if message %}<div class="p-label label-yellow">{{ message }}</div>{% endif %}
<form class="p-form p-form-aligned register_form" method="POST" action="{{ url_web_register }}">
	<fieldset>
		{% csrf_token %}
		<div class="p-control-group">
			<label for="id_username">{% trans 'Username' %}</label>
			{{ registration_form.username }}
			{{ registration_form.username.errors }}
			<img src="/static/img/accounts/check_username.png" style="cursor:pointer" title="{% trans 'check username availability' %}" id="id_username_checker" onclick="username_checker();">
		</div>
		<div class="p-control-group">
			<label for="id_password">{% trans 'Password' %}</label>
			{{ registration_form.password }}
			{{ registration_form.password.errors }}
		</div>
		<div class="p-control-group">
			<label for="id_password_confirm">{% trans 'Password again' %}</label>
			{{ registration_form.password_confirm }}
			{{ registration_form.password_confirm.errors }}
		</div>
		<div class="p-control-group">
			<label for="id_email">{% trans 'Email' %}</label>
			{{ registration_form.email }}
			{{ registration_form.email.errors }}
		</div>
		<div class="p-control-group">
			{{ registration_form.captcha }}
			{{ registration_form.captcha.errors }}
		</div>
		<div class="p-controls">
			<input class="p-button p-button-primary" type="submit" value="{% trans 'Register' %}">
		</div>
	</fieldset>
</form>
