{% extends "base.html" %}
{% load i18n %}
{% load global_tags %}
{% block title %}
	{% trans 'Account control panel' %}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='accounts' %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}
	<div class="content-block">
		<h1>{% trans 'Members area' %}</h1>
			<form class="p-form" action="{{ url_remove_authorization_key }}" method="POST">
				<fieldset>
					{% csrf_token %}
					<input type="hidden" name="remove_key" value="please">
					<div class="p-controls">
						<label>
{% blocktrans with delay=delay %}You decided to remove your authorization key.<br />
It will become impossible to use it for authentication anymore.<br />
Also you will not be able to make new key for {{ delay }} seconds.<br />
if this is what you want then go ahead and press this button.{% endblocktrans %}
						</label>
					</div>
					<div class="p-controls">
						<input class="p-button p-button-primary" type="submit" value="{% trans 'Remove key' %}">
					</div>
				</fieldset>
			</form>
		<hr />
		{% if message %}<p>{{ message }}</p>{% endif %}
	</div>
{% endblock %}
