{% spaceless %}
{% load i18n %}
{% load global_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="/static/img/icon.png" />
		<title>{% block title %}{% endblock %}{{ SITE_NAME }}</title>
		{% if 'separate css' not in DISABLED_FEATURES %}
			<link rel="stylesheet" type="text/css" href="/stylesheet.css">
		{% else %}
			<style>
{% include stylesheet.css %}
			</style>
		{% endif %}
{% block extrahead %}{% endblock %}
	</head>
	<body><div class="p-g">
		{% block mainmenu %}{% include "mainmenu.html" %}{% endblock %}
	</div><div class="p-g">
	<div class="p-u-sm-1 breadcrumbs">
		<ul>
{% block breadcrumbs %}{% endblock %}
		</ul>
	</div>
	{% if cow_powers > 0 %}
	<span class="topsecret">
		{% if cow_powers > 1 %}
			<span class="tokens">({{ cow_powers }}
				<span class="token_list">
					{% for token in cow_powers_tokens %}
						<br />{{ token }}
					{% endfor %}
				</span>
			) </span>
		{% endif %}
	{% trans 'Secret cow powers activated!' %}
	</span>
	{% endif %}
	<div class="p-u-sm-1 content">
{% block body %}{% endblock %}
{% block content %}{% endblock %}
	</div>
	<hr />
	<div class="p-u-xl-1 p-u-lg-1 p-u-sm-1 footer-links">
		{% if user.is_staff %}
			<a class="p-button button-xsmall button-secondary" href="{{ url_admin }}">{% trans 'Admin panel' %}</a>
			{% if url_edit_page %}
				<a class="p-button button-xsmall button-secondary" href="{{ url_edit_page }}">{% trans 'Edit this page' %}</a>
			{% endif %}
		{% endif %}
		{% if buttons.staff_area %}
			{% if user.is_staff or perms.accounts.polls_generate_tokens or perms.accounts.mailer_generate_tokens or perms.accounts.create_user_with_key %}
				<a class="p-button button-xsmall button-secondary" href="{{ URL_ACCOUNTS_ADMIN }}">{% trans 'Staff area' %}</a>
			{% endif %}
		{% endif %}
		{% if buttons.comments %}
			{% if user.is_staff or perms.accounts.comments_moderate %}
				<div id="toggle_comments_moderation" class="p-button button-xsmall" onclick="toggle_comments_moderation();">{% trans 'Comments moderation' %}</div>
			{% endif %}
		{% endif %}
		{% if buttons.gallery_album %}
			<div id="toggle_album_editor" class="p-button button-xsmall" onclick="toggle_album_editor();">{% trans 'Edit album' %}</div>
		{% endif %}
	</div>
{% block afterbody %}{% endblock %}

	{% if 'separate js' not in DISABLED_FEATURES %}
		<script type="application/javascript" src="/scripts.js" async="async" defer="defer"></script>
	{% else %}
		<script>
{% include "scripts.js" %}
		</script>
	{% endif %}
	</div></body>
</html>
{% endspaceless %}
