{% load i18n %}
{% spaceless %}
{% if audio %}
	<a title="{% trans "Play CAPTCHA as audio file" %}" href="{{ audio }}">
{% endif %}
<label for="id_captcha_1">
	<img src="{{ image }}" alt="captcha" class="captcha" />
</label>
{% include "django/forms/widgets/multiwidget.html" %}
{% endspaceless %}