{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans 'Chat' %}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='chat' %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
	<div class="content-block">
		<h1>{% trans 'Chat rooms' %}</h1>
		{% for room in rooms %}
			<p><a href="{% url 'chat room' alias=room.alias %}">{{ room.name }}</a></p>
		{% endfor%}
		<hr />
	</div>
{% endblock %}
{% block afterbody %}
{% endblock %}
