{% extends "base.html" %}
{% load i18n %}
{% load accounts_tags %}
{% block title %}
	{% trans 'Chat' %}|{{ room.name }}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='chat' %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
	<div class="content-block">
		<div id="chat" class="p-g">
			<div class="p-u-sm-11-12">
				{% trans 'Chat room' %} <b>{{ room.name }}</b><br>
				<small>{{ room.motd }}</small>
				<hr />
			</div>
			<div class="p-u-sm-1-12">
				<div id="chat_status_led" class="led yellow right" title="{% trans 'Green: connected. Yellow: request in progress. Red: disconnected.' %}"></div>
			</div>
			<div id="chat_messages" class="p-u-xl-11-12 p-u-md-5-6 p-u-sm-2-3 chat-messages">
				{% for uuid, date, author, text in messages %}
					<p class="chat-message" data-uuid="{{ uuid }}">{{ date }}&nbsp;{{ author }}>&nbsp;{{ text }}</p>
				{% endfor %}
			</div>
			<div id="chat_userlist" class="p-u-xl-1-12 p-u-md-1-6 p-u-sm-1-3 chat-userlist"></div>
			<div class="p-u-sm-11-12">
				<form id="chat_message_form" class="p-form" action="{% url 'chat ajax message' alias=room.alias %}" method="POST">
					<fieldset>
						{% csrf_token %}
						<input class="p-input-3-4" id="chat_message_input" autofocus="" type="text" name="message" autocomplete="off">
						&nbsp;
						<input class="p-button p-button-primary" id="chat_message_submit" type="submit" value="{% trans 'say' %}">
					</fieldset>
				</form>
			</div>
			<div class="p-u-sm-1-12">
				<form class="p-form right">
					<fieldset>
						<input type="checkbox" id="autoscroll" checked>
						<label for="autoscroll">{% trans 'Autoscroll' %}</label>
					</fieldset>
				</form>
			</div>
		</div>
		<script>
			chat_status_led = document.getElementById('chat_status_led');
			autoscroll = document.getElementById('autoscroll');
			messages = document.getElementById('chat_messages');
			messages.scrollTop = messages.scrollHeight-messages.clientHeight;
		</script>
		<hr />
	</div>
{% endblock %}
{% block afterbody %}
{% endblock %}
