{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans 'Gallery' %}|{{ album.alias }}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='gallery' %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
	<div class="content-block">
		<h1>{% trans 'Gallery album by alias' %} {{ album.alias }}</h1>
			{% for picture in pictures %}
				{% if picture.picture_thumb %}
					<div class="gallery-thumbnail">
						<a href="{% url 'gallery image by uuid' alias=album.alias uuid=picture.uuid %}">
							<img src="{{ picture.picture_thumb.url }}">
						</a>
						{% if buttons.gallery_album %}
							<div class="album-editor">
								<form action="{% url 'delete picture' %}" method="POST">
									{% csrf_token %}
									<input type="hidden" name="uuid" value="{{ picture.uuid }}">
									<input type="submit" class="p-button button-warning" value="{% trans 'delete' %}">
								</form>
							</div>
						{% endif %}
					</div>
				{% endif %}
			{% endfor%}
		<hr />
	</div>
{% endblock %}
{% block afterbody %}
{% endblock %}
