{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans 'Gallery' %}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='gallery' %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
	<div class="content-block">
		<h1>{% trans 'Gallery albums' %}</h1>
		{% for album in albums %}
			<p><a href="{% url 'gallery album by alias' alias=album.alias %}">{{ album.alias }}</a></p>
		{% endfor%}
		<hr />
	</div>
{% endblock %}
{% block afterbody %}
{% endblock %}
