{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans 'Gallery' %}|{{ picture.album.alias }}|{{ picture.filename }}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='gallery' %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
	<div class="content-block">
		<h1>{% trans 'Confim deletion of' %} {{ picture.filename }}</h1>
		{% if picture.picture_small %}
			<img src="{{ picture.picture_small.url }}">
		{% else %}
			<img src="{{ picture.picture.url }}">
		{% endif %}
		<p>{% trans 'This action will irreversable delete this picture from server, including database records and files' %}</p>
		<form action="{% url 'delete picture' %}" method="POST">
			{% csrf_token %}
			<input type="hidden" name="uuid" value="{{ picture.uuid }}">
			<input type="hidden" name="confirm" value="yes">
			<input type="submit" class="p-button button-warning" value="{% trans 'Confirm deletion' %}">
		</form>
		<hr />
	</div>
{% endblock %}
{% block afterbody %}
{% endblock %}
