{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans 'Gallery' %}|{{ picture.album.alias }}|{{ picture.filename }}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='gallery' %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
	<div class="content-block">
		<h1>{% trans 'Gallery picture of' %} <a href="{% url 'gallery album by alias' alias=picture.album.alias %}">{{ picture.album.alias }}</a>: {{ picture.filename }}</h1>
		<p>
			{% if  picture_prev.picture_thumb %}
				<div class="gallery-thumbnail">
					<a href="{% url 'gallery image by uuid' alias=picture.album.alias uuid=picture_prev.uuid %}">
						&laquo;&nbsp;<img src="{{ picture_prev.picture_thumb.url }}">&laquo;&nbsp;
					</a>
				</div>
			{% endif %}
			<div class="gallery-thumbnail">
				<img src="{{ picture.picture_thumb.url }}">
			</div>
			{% if picture_next.picture_micro %}
				<div class="gallery-thumbnail">
					<a href="{% url 'gallery image by uuid' alias=picture.album.alias uuid=picture_next.uuid %}">
						&nbsp;&raquo;<img src="{{ picture_next.picture_thumb.url }}">&nbsp;&raquo;
					</a>
				</div>
			{% endif %}
		</p>
			{% if picture.picture_small %}
				{% if enlarged %}
					<a href="{% url 'gallery image by uuid' alias=picture.album.alias uuid=picture.uuid %}">
						<img src="{{ picture.picture.url }}">
					</a>
				{% else %}
					<a href="{% url 'gallery image by uuid' alias=picture.album.alias uuid=picture.uuid %}?enlarge=true">
						<img src="{{ picture.picture_small.url }}">
					</a>
				{% endif %}
			{% else %}
				<img src="{{ picture.picture.url }}">
			{% endif %}
		<hr />
	</div>
{% endblock %}
{% block afterbody %}
{% endblock %}
