{% load i18n %}
{% load accounts_tags %}
{% load comments_tags %}

<div class="p-u-sm-{{ level }}-24"></div>
<div id="comment_{{ uuid }}" class="p-g p-u-sm-{{ 24_minus_level }}-24 comment{% if not approved %} unapproved{% endif %}{% if deleted %} deleted{% endif %}{% if akismet_spam %} akismet_spam{% endif %}{% if manual_spam %} manual_spam{% endif %}" data-level="{{ level }}">
	<div class="gravatar">
		{% if email %}
			<img class="avatar" src="{% get_avatar email 80 %}">
		{% else %}
			<img class="avatar" src="/static/img/anonymous.png">
		{% endif %}
	{% if show_agent_icons %}<img class="agent" alt="user-agent icon" title="{{ agent }}" src="{% get_user_device_icon agent %}">{% endif %}
	</div>
	<div class="p-g comment_content" id="comment_content_{{ uuid }}">
		<div class="p-u-sm-1 name_and_date">
			{% blocktrans with name=name date=date|date:"j b Y, G:i" %}{{ name }} at {{ date }}:{% endblocktrans %}
			{% if group_data.moderator %}
				<span class="moderate notice">{{ uuid }}</span>
			{% endif %}
			{% if not approved and uuid in user_comments %}
				<span class="notice">{% trans 'Your comment is awaiting approval' %}</span>
			{% endif %}
			{% if deleted %}
				<span class="moderate deleted-notice">{% trans 'Deleted' %}</span>
			{% endif %}
			{% if akismet_spam %}
				<span class="moderate deleted-notice">{% trans 'Akismet SPAM' %}</span>
			{% endif %}
			{% if manual_spam %}
				<span class="moderate deleted-notice">{% trans 'Moderated SPAM' %}</span>
			{% endif %}
		</div>
		<div class="p-u-sm-1 comment-content">
			<pre>{{ content }}</pre>
		</div>
		{% include 'comments/comment_controls.html' %}
	</div>
</div>
