{% load i18n %}
<form class="p-u-xl-1-4 p-u-lg-1-3 p-u-md-1-2 p-u-sm-1 p-form" action="{{ app_subscribe }}" method="POST">
	<div class="p-u-sm-1-24"></div>
	<fieldset class="p-u-sm-11-12">
		{% csrf_token %}
		{% for name, id, default in lists %}
			<label for="l_{{ id }}" class="p-checkbox">
				<input id="l_{{ id }}" type="checkbox" name="list_{{ id }}"{% if default %} checked="checked"{% endif %}/>
				{{ name }}
			</label>
		{% endfor %}
		<input class="p-input-2-3" type="text" name="email" value="" placeholder="{% trans 'Email address' %}">
		<input class="p-button p-button-primary" type="submit" value="{% trans 'Subscribe' %}">
		<hr />
	</fieldset>
	<div class="p-u-sm-1-24"></div>
</form>
