{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans app_name %}
	{% trans 'index page' %}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='mailer' %}
{% endblock %}
{% block breadcrumbs %}

{% endblock %}
{% block content %}
	<div class="content-block">
		<h1>{% trans 'Mailing list invitation' %}</h1>
		{% if message %}<div class="p-label label-yellow">{{ message }}</div>{% endif %}
		<form class="p-u-xl-1-4 p-u-lg-1-3 p-u-md-1-2 p-u-sm-1 p-form" action="{{ app_subscribe_invited }}?token={{ token }}" method="POST">
			<legend>
				{% blocktrans with list_name=list_name %}You have been invited to subscribe to mailing list [{{ list_name }}].<br />Provide your email address to proceed.{% endblocktrans %}
			</legend>
			<fieldset>
				{% csrf_token %}
				<input class="p-input-2-3" type="text" name="email" value="{{ email }}" placeholder="{% trans 'e-mail address' %}" />
				<input class="p-button p-button-primary" type="submit" value="{% trans 'Subscribe' %}" />
			</fieldset>
		</form>
		<hr />
	</div>
{% endblock %}
