{% extends "base.html" %}
{% load i18n %}
{% load global_tags %}
{% load filters %}
{% block title %}{{ title }}|{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='page' current_url=url %}
{% endblock %}
{% block extrahead %}
{% spaceless %}
	{% for line in header_includes %}
		{% minify_include line %}
	{% endfor %}
{% endspaceless %}
{% endblock %}
{% block content %}
	{{ content | strip_javascript }}
{% endblock %}
{% block afterbody %}
{% spaceless %}
	{% for line in footer_includes %}
		{% minify_include line %}
	{% endfor %}
	{% if scripts|length %}
		{% if 'separate js' not in DISABLED_FEATURES %}
			<script type="application/javascript" src="{{url}}/scripts.js" async="async" defer="defer"></script>
		{% else %}
			<script>
				{% for script in scripts %}
					{{ script | safe }}
				{% endfor %}
			</script>
		{% endif %}
	{% endif %}
{% endspaceless %}
{% endblock %}
