{% extends "base.html" %}
{% load i18n %}
{% load global_tags %}
{% load filters %}
{% block title %}{{ title }}|{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='page' current_url=url %}
{% endblock %}
{% block content %}
	<h1>{% trans 'Page is private' %}</h1>
	{% if user.is_authenticated %}
		<p>{% blocktrans %}You do not have a permission to access this page.<br />
If, for some reason, you still need to access this page,<br />
you should contact the staff through a feedback form.{% endblocktrans %}</p>
	{% else %}
		<p>{% blocktrans %}Only those who are selected by staff are allowed to access this page.<br />
To proceed you should authenticate.{% endblocktrans %}</p>
		{% if url_key_authenticate %}
			<form class="p-form" action="{{ url_key_authenticate }}" method="POST">
				<fieldset>
					{% csrf_token %}
					<input class="p-u-sm-1-3" type="password" name="key" placeholder="{% trans 'Key' %}">&nbsp;
					<input class="p-button p-button-primary" type="submit" value="{% trans 'Authenticate' %}">
				</fieldset>
			</form>
		{% endif %}
	{% endif %}
{% endblock %}
{% block afterbody %}
{% endblock %}
