{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans app_name %}
	{% trans 'index page' %}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='feedback' noswitch=True %}
{% endblock %}
{% block breadcrumbs %}

{% endblock %}
{% block content %}
	<div class="content-block">
		<h1>{% trans 'Feedback' %}</h1>
		<p>{% trans 'Thanks for your feedback!' %}</p>
		<hr />
		<h3>{% trans 'Submitted message:' %}</h3>
		<p>{{ message }}</p>
	</div>
{% endblock %}
{% block afterbody %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
		docCookies.removeItem('feedback', '/');
	}, false);
</script>
{% endblock %}
