{% load i18n %}
<form id="feedback_form" class="p-u-xl-1-4 p-u-lg-1-3 p-u-md-1-2 p-u-sm-1 p-form" action="{{ app_send }}" method="POST">
	<div class="p-u-sm-1-24"></div>
	<fieldset class="p-u-sm-11-12">
		{% csrf_token %}
		{% for channel in channels %}
			<label for="{{ channel.id }}" class="p-radio">
				<input id="{{ channel.id }}" class="channel" type="radio" name="channel" value="{{ channel.id }}" />
				{{ channel.title }}
			</label>
		{% endfor %}
		<div class="p-controls">
			<label for="feedback_message">{% trans 'Message' %}</label>
			<textarea class="p-input-1" id="feedback_message" name="message"></textarea>
		</div>
		<div class="p-controls">
			<label for="feedback_duplicate_to_email">
				<input id="feedback_duplicate_to_email" type="checkbox" name="duplicate_to_email" checked="checked" />
				{% trans 'Send me a copy of this message' %}
			</label>
			<input id="feedback_email" class="p-input-1" type="text" {% if email %}readonly{% endif %} name="email" value="{{ email }}" placeholder="{% trans 'e-mail address' %}" /><br />
			{{ feedback_form.captcha }}
			{{ feedback_form.captcha.errors }}
		</div>
		<input class="p-button p-button-primary" type="submit" value="{% trans 'Send feedback' %}" />
		<hr />
	</fieldset>
	<div class="p-u-sm-1-24"></div>
</form>
